<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text logo-mini">
        </a>
        <a href="https://www.creative-tim.com" class="simple-text logo-normal">
            Gallery
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active ">
                <a href="javascript:;">
                    <i class="nc-icon nc-bank"></i>
                    <p>게시글 관리 테스트</p>
                </a>
            </li>
        </ul>
    </div>
</div>